@use "functions" as *;

// Colors
// Primary
$blue: #5847eb;

// Card
$light-red-work: #ff8c66;
$soft-blue-play: #56c2e6;
$light-red-study: #ff5c7c;
$lime-green-exercise: #4acf81;
$violet-social: #7536d3;
$soft-orange-selfcare: #f1c65b;

// Neutral
$very-dark-blue: #0f1424;
$dark-blue: #1c1f4a;
$desaturated-blue: #6f76c8;
$pale-blue: #bdc1ff;
$white: #ffffff;
$black: #000000;

// Colors Pallete
$colors: (
  "blue": $blue,
  "very-dark-blue": $very-dark-blue,
  "dark-blue": $dark-blue,
  "desaturated-blue": $desaturated-blue,
  "pale-blue": $pale-blue,
  "white": $white,
  "black": $black,
);

// Font size
$base-font-size: rem(18) !default;

// Font Weight
$font-weight-300: 300;
$font-weight-400: 700;
$font-weight-500: 500;

// Border Radius
$base-border-radius: rem(10) !default;

// Box-Shadow
$base-box-shadow: 0px 10px 25px rgba($blue, 0.1), 0px 10px 25px rgba($blue, 0.1);
